
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
@font-face {
    font-family: "shishir";
    src: url("./work.ttf");
}
/* universal selector  */
*{
   font-family: cursive; 
}

/* h1 -> selector */
/* background -> properties */
/* red -> value */
/* element selector  */
h1{
    background: red;
    color: aqua;
}

/* id selector */
#heading{
    background-color: palegreen;
}
/* class selector */
.heading{
    background-color: tomato;
}
/* note-> use class all of the time */
/* group */
h1,h2,p{
    color: green;
    font-family: "Work Sans";
}
/* this is a comment 

 font */
p{
    font-size: 40px;
    font-weight: bold;
    font-family: "shishir";

    /* font-style: italic; */
   
}
/* color type */
/* named color */
/* hexa   #ffffff -> ff -> white, ff-> green, ff-> blue */ 
/* rgb -> red , green, blue  -> 0 to 255 */
/* rgba -> red, green , blue -> a -> alpha(0 to 0.9)*/
/* hsl -> hue, saturation , lightness */
.color{
    color: rgb(13, 13, 13) ;
    /* background-color: rgb(255, 0, 255); */
    border-style: double;
    border-color: red;
    border-width: 10px;
    border-radius: 20px;
    display: inline;
}
.myday{
    border: 5px solid green;
    /* padding: 10px 20px 20px 30px; */
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 20px;
    padding-left: 10px;

    /* margin */
    margin:10px 20px 20px 30px;
    margin-left: 50px;
    display: inline-block;
    width: 4000px;
}
.one{
    width: 50%;
    margin: 0 auto;
    background: aquamarine;
    height: 500px;
    text-shadow: 5px 5px 10px red;
    overflow: scroll;
}
.one img{
    float: right;

}
a{
    width: 400px;
}
.link:link{
    color: gold;
}
.active:active{
    color: green;
    font-size: 20px;
}
.visited:visited{
    background: green;
}
.hover:hover{
    background-color: aqua;
}

.ones{
    background:  green; 
}

/* max, or min */
/* max-width, max-height or min-width, min-height */
/* media query */
@media (max-width: 500px) {
    .ones{
        background-color: red;
    }
}

/* Combinators in css */
.three .too a{
    color: red;
}
.too ~ a{
    color: yellow;
}
.too + a{
    color: blue;
}


